
.container {
  padding: 20px;
}

.title {
  margin: 50px 0px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--primaryColor);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--secondaryBackgroundColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.skeletonCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.skeletonCategory {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonText {
  color: transparent;
  margin: 50px 0px;
  background-color: rgba(211, 211, 211, 0.034);
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(211, 211, 211, 0.014);
  }
  100% {
    background-color: rgba(211, 211, 211, 0.034);
  }
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
